.App {
  margin: 0px;
  padding: 0px;
  border: 0px;
  font: inherit;
  vertical-align: baseline;
  font-family: "Satisfy";
}
.Content{
  flex-direction: column;
  position: relative;
  padding-bottom: 0px;
  min-height: 100vh;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #ffe091;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='160' height='160' viewBox='0 0 200 200'%3E%3Cpolygon fill='%23adaefa' points='100 0 0 100 100 100 100 200 200 100 200 0'/%3E%3C/svg%3E");
}
.App-header {
  flex: 1 1 0%;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 24px 12px;
  height: 100%;
  width: 100%;
  display: flex;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox */
  box-sizing: border-box;
}
.Body{
  margin: 0px auto;
  height: 100%;
  width: 100%;
  max-width: 680px;
}
.Background-image{
  position: fixed;
  inset: 0px;
  z-index: -1;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgb(0, 0, 0);
  background-image: url(./images/background1.jpg)
}
.Profile{
  -webkit-box-align: center;
  align-items: center;
  flex-direction: column;
  margin-top: 12px;
  margin-bottom: 32px;
  width: 100%;
  height: 100%;
  display: flex;
}
.Profile-image {
  margin-bottom: 16px;
}
.Profile-image>img {
  border-radius: 50%;
  width: 96px;  
  height: 96px;
  display: block;
  object-fit: contain;
  object-position: initial;
  filter: none;
}
.Profile-username {
  margin-left: 12px;
  margin-right: 12px;
  max-width: 100%;
}
h1 {
  margin: 0px;
  color: rgb(255, 255, 255);
  font-size: 30px;
  line-height: 1.5;
  text-overflow: ellipsis;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  font-family: 'Quicksand', sans-serif;
  letter-spacing: 1px;
  color: White;
  padding-left: 5px;
  padding-right: 5px;
  color: black;
}
.Link {
  position: relative;
}
.Link-container {
  position: relative;
  height: auto;
  transition: box-shadow 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s, color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s, border-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s, transform 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s, background-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s;
  overflow: hidden;
  margin-bottom: 16px;
  border: 2px solid rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-radius: 8px;
  display:flex;
  background-color: sandybrown;
}
.Link-container:hover{
  background-color:black;color:white;
}
.Link-container>svg{
  height: auto;
  padding-left: 5px;
}
.Link-container>a {
  font-family: 'Karla', sans-serif;
  border: none;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  height: auto;
  position: relative;
  padding: 16px 66px;
  margin: 0px;
  font-weight: bold;
  font-size: inherit;
  width: 100%;
  cursor: pointer;
  appearance: none;
  text-align: center;
  box-sizing: border-box;
  text-decoration: none;
  overflow-wrap: break-word;
  word-break: break-word;
  white-space: normal;
  background: none;
  color: inherit;
  transition: box-shadow 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s, border-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s, transform 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s, background-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s;
}
.Socials {
  padding-top: 16px;
  padding-bottom: 16px;
}
.Social-links {
  flex-wrap: wrap;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
}
.Social-links>a {
  color: inherit;
  transition: transform 0s cubic-bezier(0.23, 1, 0.32, 1) 0s;
}
.Icon{
  margin: 0 5px;
  border-radius: 8px;
}
.Icon:hover{
  transform: scale(1.2);
}
.GitHub:hover {
  transform: scale(1.2);
}
.GitHub {
  position: absolute;
  bottom: 8px;
  right: 8px;
  background-color: white;
  border-radius: 10%;
  box-shadow: 2px 2px black;
}
.facebookIcon {
  background-color: white;
}
.instagramIcon {
  background-image: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  color: white;
}